<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EstablishmentKPIWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="EstablishmentKPIWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://172.26.20.51:10000/EstablishmentKPIWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EstablishmentKPIWebServiceSoap"
                contract="Tamkeen.IndividualsServices.Services.csproj.EstablishmentKPIWebServiceSoap"
                name="EstablishmentKPIWebServiceSoap" />
            <endpoint address="http://172.26.20.51:10000/EstablishmentKPIWebService.asmx"
                binding="customBinding" bindingConfiguration="EstablishmentKPIWebServiceSoap12"
                contract="Tamkeen.IndividualsServices.Services.csproj.EstablishmentKPIWebServiceSoap"
                name="EstablishmentKPIWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>