<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
    
  <connectionStrings>
    <add name="mol:connectionstring" providerName="sqlserver" connectionString="Data Source=192.168.209.54;Initial Catalog=MOL_Generation_phaseI_FLP;User Id=moldbuser;Password=moldbuser;Connect Timeout=2000;" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EstablishmentKPIWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.26.20.51:10000/EstablishmentKPIWebService.asmx"
          binding="basicHttpBinding" bindingConfiguration="EstablishmentKPIWebServiceSoap"
          contract="NitaqatServiceReference.EstablishmentKPIWebServiceSoap"
          name="EstablishmentKPIWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
