<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IdSrv:BaseUrl" value="https://localhost:44300/core"/>
    <add key="WebApi:BaseUrl" value="https://localhost:44304/"/>
    <add key="client:RedirectUri" value="http://localhost:44305/"/>
    <add key="client:LogoutRedirectUri" value="http://localhost:44305/"/>
  </appSettings>
</configuration>