<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IdSrv:BaseUrl" value="https://localhost:44300/core" />
    <add key="WebApi:BaseUrl" value="https://localhost:44304/" />
    <add key="client:RedirectUri" value="http://localhost:44305/" />
    <add key="client:LogoutRedirectUri" value="http://localhost:44305/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>